/* Reset */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1,
h2,
h3,
h4 {
    color: #393e46;
}

h1 {
    margin-bottom: 5rem;
    font-size: 2.8rem;
    text-align: center;
}

textarea {
    resize: none;
}

input.form-control,
textarea {
    box-shadow: none !important;
}
